* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Exa', sans-serif;
  background: url('../img/bg/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: wheat;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 50px 0 20px 0;
  text-align: center;
  padding: 2rem;
  background: black;
  font-size: 40px;
}

header p {
  font-size: 25px;
  color: black;
}

.pads {
  background: lightblue;
  width: 60%;
  box-shadow: 10px 10px 20px black;
  margin-bottom: 150px;
}

.pad-top {
  display: flex;
}

.pad-bottom {
  display: flex;
}

.pad-top>div {
  height: 100px;
  width: 100px;
  flex: 1;
}

.pad-bottom>div {
  height: 100px;
  width: 100px;
  flex: 1;
}

.pad1 {
  background: #60d394;
}

.pad2 {
  background: #d36060;
}

.pad3 {
  background: #c060d3;
}

.pad4 {
  background: #d3d160;
}

.pad5 {
  background: #606bd3;
}

.pad6 {
  background: #60c2d3;
}

@media (max-width: 480px) {
  header h1 {
    font-size: 35px;
  }

  header p {
    font-size: 16px;
  }

  .pads {
    margin-bottom: 100px;
  }
}
